# Server Configuration
PORT=8000
DATABASE=mongodb+srv://<username>:<password>@cluster0.mongodb.net/resume-builder
JWT_SECRET=your_jwt_secret_key_here
CLIENT_URL=http://localhost:3000

# Email Configuration (Nodemailer)
EMAIL_FROM=your-email@gmail.com
EMAIL_PASSWORD=your-app-password-here

# Google OAuth (if needed)
GOOGLE_CLIENT_ID=...
GOOGLE_CLIENT_SECRET=...

# Twilio (if used)
TWILIO_ACCOUNT_SID=...
TWILIO_AUTH_TOKEN=...
TWILIO_PHONE_NUMBER=...

# Cloudflare R2
R2_ACCESS_KEY_ID=your_access_key_id
R2_SECRET_ACCESS_KEY=your_secret_access_key
R2_ENDPOINT=your_r2_endpoint
R2_REGION=auto
R2_BUCKET_NAME=your_bucket_name
R2_PUBLIC_URL=your_public_url_or_custom_domain

